/* jeg sætter margin på 0% for at fjerne alt "space" som er rundt om 'the body tag' */

body {
width: 100%;
margin:0 auto;
text-align: center;
background-color: #FFE4C4;
}

/* jeg har lavet en div container rundt om cover videoen og overskriften, og given denne div en position relative, som at teksten kan komme under teksten */
.box1 {
position: relative;
  text-align: center;
}

/* jeg har lavet en div container rundt om h1, og given den en position abselut, som dne kan komme oven på videoen */
.little-text-box1 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

/* giver h1 inde i tekst div'en en style */
h1 {
color: #8B4513;; 
background-color: #FFE4C4;
text-align:center;
font-family: 'Sofia';
opacity: 0.7;
}

/* jeg laver den første vidoe om til mit cover video */
video {
height: 100vh;
width: 100%;
object-fit: cover;
opacity: 0.7;
}

/* Style the button */
.knap1 {
  width: 170px;
  font-size: 15px;
font-family: 'sofia';
  padding: 10px;
  border: none;
  background: #FFE4C4;
  color: #8B4513;
  cursor: pointer;
margin-top: 3%;
opacity: 0.7;
}

.knap1:hover {
  background: white;
  color: sandybrown;
}

/* next page */

/* giver teksten style */
p {
color: #8B4513;
letter-spacing: 3px;
padding: 30%;
padding-top: 45px;
padding-bottom: 20px;
font-family: 'lobster', cursive;
justify-content: center;
}

/* giver den nederste text style, som jeg halder 'rulle teksten' */
.rulle-teksten {
color: #8B4513;
letter-spacing: 10px;
padding: 30%;
padding-top: 90px;
padding-bottom: 50px;
font-family: 'lobester', cursive;
justify-content: center;
}

/* knap til næste side som har en anden style */

.knap2 {
  width: 170px;
  font-size: 15px;
font-family: 'sofia';
  padding: 10px;
  border: none;
  background: #8B4513;
  color: #FFE4C4;
  cursor: pointer;
margin-top: 3%;
opacity: 0.7;
}

.knap2:hover {
  background: white;
  color: sandybrown;
}

/* styler næste storste overskrift*/
h2 {
color: #8B4513;
background-color: #FFE4C4;
opacity: 0.7;
text-align:center;
font-family: 'sofia';
padding-left: 10%;
padding-right: 10%;
}

/* styler tekst på side fire */
.drom-p {
color: #8B4513;
background-color: #FFE4C4;
opacity: 0.7;
text-align:center;
font-family: 'lobster';
letter-spacing: 3px;
padding-left: 10%;
padding-right: 10%;
padding-top: 20px;
padding-bottom: 20px;
font-family: 'lobster', cursive;
justify-content: center;
}

